* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #778899;
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
    width: 100%;
    background-color: #B0C4DE;
    padding: 1rem;
    border-bottom-left-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

h1 {
    font-family:cursive;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B0C4DE;
    margin-top: 20vh;
    border-radius: 3rem;
    padding: 1rem 4rem 4rem 4rem;
}

input {
    padding: 0.25rem 1rem 0.25rem 1rem;
    border-radius: 2rem;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    width: 7rem;
    margin: 0.25rem;
}

.justify {
    display: flex;
    justify-content: center;
}

#calc_btn {
    font-family: fantasy;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 2.5rem;
    background-color: #778899;
    border-radius: 0.25rem;
    border-color: transparent;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#grades_list_front {
    display: flex;
    flex-direction: column-reverse;
    color: #fff;
    
}

#add_grade_btn {
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #778899;
    color: #fff;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
